#Prueba1{
    background-image: url("Fondo.gif");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: #ffffff;*/

    padding-right: 0px;
    padding-left: 0px;
    

}

#Prueba2{
    
    
    
    
    height: 100%; 
    width: 100%; 
    background-color: #f1601c; 
    

    
}
#Prueba3{
    background-color: #ffffff;
    height:100%;
    

}

#Prueba4{
    background-color: #1c31f3;
    height:245px;
}

#TextMainNombre{
   color: rgb(235, 235, 235);
   margin-top: 150px;
   margin-left: -100px;
   font-size: 80px
}

#TextMainFrase{
    color: rgb(235, 235, 235);
    margin-top: 30px;
    margin-left: -80px;
 }
 